.react-grid-Container, 
.react-grid-Main,
.react-grid-Canvas,
.react-grid-Grid {
  height: 100% !important;
}

.rowViewerPanel {
  width: 100%
}

.rowViewerHeader {
  padding: 8px;
  border-top: 1px solid grey;
}

